.background {
  background-color: var(--background);
}

.skill-card {
    height: 100px;
    background-color: var(--offblack);
    border-radius: 10px;
    border-color: none;
  }
  
  .skill-card p,
  .skill-card h4 {
    text-shadow: 2px 2px 8px black;
  }
  
  .skill-card.complete {
    background-image: linear-gradient(45deg, var(--primary), var(--secondary));
  }

  .skillList {
    background-color: var(--light);
  }