:root {
  --primary: #6320ee;
  --secondary: #8075ff;
  --light: #f8f0fb;
  --offblack: #211a1d;
  --background: #828A95;
}

body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.btn-primary {
  background-color: var(--secondary) !important;
}

.btn-primary:hover {
  background-color: var(--primary) !important;
}